text,
label,
a,
span {
  user-select: none;
}

.chart {
  position: relative;
  padding: 10px 15px;
}

#charts .toggle-nav {
  text-decoration: none;
  padding: 5px 9px 5px 10px;
  display: inline-block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  border: rgb(197, 197, 197) 1px solid;
  border-radius: 3px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: #777;
  font-size: 20px;
}

#charts .toggle-nav:hover,
#charts .toggle-nav.show {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.658);
}

#charts .toggle-menu {
  position: absolute;
  right: 0px;
}

#charts .toggle-menu > .dropdown-menu {
  width: 200px;
  top: 100%;
  padding: 0px 0px 0px 0px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  border: rgb(197, 197, 197) 1px solid;
  border-radius: 3px;
  background-color: #fff;
}

#charts .toggle-menu > .dropdown-menu a {
  text-decoration: none;
  color: #777;
  text-align: center;
  font-size: 16px;
}

#charts .toggle-menu > .dropdown-menu a:hover {
  background: #1abc9c;
  color: #fff;
}

/* --------charts-------- */
/* .yAxis .domain {
  stroke: none;
} */

#chartMain #loading {
  --loading-width: 150px;
  --loading-height: 60px;

  position: absolute;
  width: var(--loading-width);
  height: var(--loading-height);
  left: calc(50% - var(--loading-width) * 0.5);
  top: calc(50% - var(--loading-height));
  z-index: 50;
  padding: 10px 10px;
  background: #3c3c3c;
  color: #fff;
  text-align: center;
  box-shadow: 2px 2px 10px;
  border-radius: 5px;
  pointer-events: none;
}

#chartMain > #outerDiv {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
}

#chartMain > #outerDiv > #innerDiv {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#chartMain .tooltip {
  position: absolute;
  z-index: 999;
  /* border-spacing: 0; */
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 7px 7px 12px -9px #777;
  opacity: 0.9;
  display: none;
  pointer-events: none;
}

#chartMain .tooltip tr {
  border: 0.5px solid #aaa;
}

#chartMain .tooltip tr > * {
  font-size: 24px;
  padding: 2px 8px;
}
#chartMain .tooltip .tooltip-date {
  background-color: #aaa;
  text-align: left;
  color: #fff;
}
#chartMain .tooltip .tooltip-channel > span {
  display: inline-block;
  width: 15px;
  height: 15px;
}
#chartMain .tooltip .tooltip-value {
  border-left: 0.8px dotted #999;
}

/* --------chartsOptions-------- */
#chartsOptions .dropdown-menu {
  padding: 10px 20px;
}

#chartsOptions .dropdown-menu * {
  white-space: nowrap;
}

#chartsOptions #paramMenu textarea {
  height: 150px;
  width: 400px;
  resize: both;
}

#chartsOptions #paramMenu #paramHintBlock,
#chartsOptions #paramMenu i {
  white-space: pre-line;
  line-height: 1;
}
#chartsOptions #paramMenu i > label {
  font-family: var(--bs-body-font-family);
  margin-left: 0.2rem;
}

.tooltip-inner {
  text-align: left;
  line-height: 1;
}

/* brush */
#chartMain .brushArea .brush .handle {
  fill: #000;
  opacity: 0.8;
  stroke-width: 1px;
  stroke: #fff;
}

#chartMain .brushArea .brush .overlay {
  fill: #9d9d9d;
  opacity: 0.3;
}

#chartMain .brushArea .brush .selection {
  fill: #1f1e1e;
  stroke-width: 1px;
  stroke: #fff;
}
