text,
label,
font,
h1,
h2,
h3,
.UIicon {
    user-select: none;
}

.UIicon img {
    -webkit-user-drag: none;
}

#bigMap {
    height: 700px;
    width: 700px;
    margin: 0px auto;
}

#gameOuter {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1200;
    width: 100%;
    height: 100%;
    display: none;
}

#gameMain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 90%;
    height: 95%; */

    /* width: 1000px;
    height: 700px; */
    /* margin: 0px auto; */
}

/* 取消tooltip三角形 */
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
    border: none !important;
}

.station-tooltip {
    position: absolute;
    padding: 6px;
    background-color: rgb(245, 227, 227);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(150, 36, 36);
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    font-size: 25px;
    font-weight: bold;
}

svg {
    width: 1800;
    height: 1800;
}

.station-circle {
    /* stroke-opacity: 1; */
    fill-opacity: "0.2";
    stroke: rgb(150, 36, 36);
    stroke-width: 10;
    /* stroke-linecap: "round"; */
    /* stroke-linejoin: "round"; */
    fill: blue;



}

/* *******************左邊UI列******************* */

#gameUI {
    position: absolute;
    top: 10px;
    z-index: 1000;
    pointer-events: none;
}

#gameUI .timeRemain {
    background: rgb(255, 255, 255);
    border-style: double;
    border-width: 10px;
    border-radius: 5px;
    padding: 10px 10px;
}

#gameUI .UIbar {
    position: relative;
    top: 10px;
    left: 30px;
    border-radius: 50px;
    border: 2px solid #7B7B7B;
    background: rgba(224, 224, 224, 0.5);
    pointer-events: auto;
}

#gameUI .UIicon,
#gameUI .UIicon>img {
    position: absolute;
    cursor: pointer;
}

#gameUI .UItooltip {
    position: absolute;
    z-index: 999;
    border-radius: 5px;
    opacity: .9;
    background-image: url(../data/assets/ui/mapTooltipBG.jpg);
    background-size: 150%;
    display: none;
    pointer-events: none;
}

#gameUI .UItooltip .tooltipText {
    padding: 5px 20px;
    font: small-caps bold 20px sans-serif;
    /* font-family: sans-serif; */
}

#gameUI .UIhint {
    position: absolute;
    z-index: 999;
    background: rgba(119, 119, 119, 0.8);
    display: none;
    pointer-events: none;
}

#gameUI .UIhint .tooltipText {
    padding: 5px 20px;
    font: small-caps bold 15px sans-serif;
    color: rgb(196, 194, 194);
    white-space: nowrap;
}

#gameUI .UI {
    position: absolute;
    z-index: 800;
    background: rgba(255, 255, 255, 0.8);
    border-style: double;
    border-width: 10px;
    border-radius: 5px;
    padding: 10px 10px;
    display: none;
    pointer-events: auto;
    /* border-radius: 10px;
    background-image: url(../data/assets/ui/mapUIBG.jpg);
    background-size: 100%; */
}

#gameUI .UI #tooltip {
    position: absolute;
    padding: 6px;
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    display: none;
    pointer-events: none;
}


/* *******************速度圖手把動畫******************* */
#velocityChartUI>svg .handle .anim {
    fill: rgb(0, 0, 0, .5);
    -webkit-animation: living 3s linear infinite;
}

#velocityChartUI>svg .handle .anim:last-child {
    /*第二個動畫延遲x秒*/
    -webkit-animation-delay: 0.5s;
}

@keyframes living {
    0% {
        r: 6;
        opacity: 0.5;
    }

    50% {
        r: 40;
        opacity: 0;
        /*圓形放大的同時，透明度逐漸減小為0*/
    }

    100% {
        r: 6;
        opacity: 0.5;
    }
}



/* *******************confirmWindow******************* */


:root {
    /* 字符数量 */
    --steps: 15;
    /* 动画时间 */
    /* --duration: 3s; */
    --duration: 0.5s;
    /* 字体大小 */
    --fontSize: 30px;
    /* 光标大小 */
    --cursorSize: 10px;
}

#gameUI .confirmWindow {
    position: fixed;
    z-index: 900;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    display: none;
    pointer-events: auto;

    font-size: var(--fontSize);
}

#gameUI .confirmWindow img {
    visibility: hidden;
    pointer-events: none;
}

#gameUI .confirmWindow>.typingText {
    display: inline-block;
    line-height: 1.2;
}

#gameUI .confirmWindow>.typingText::after {
    content: '';
    width: var(--cursorSize);
    height: calc(var(--fontSize) *1.2);
    background-color: rgb(255, 255, 255);
    z-index: 2;
    position: absolute;
    animation: blink 1s var(--duration) step-end infinite,
        moveCursor var(--duration) steps(var(--steps)) forwards;
}

#gameUI .confirmWindow>.typingText::before {
    content: '';
    width: 95%;
    height: calc(var(--fontSize) *1.2);
    z-index: 1;
    position: absolute;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) no-repeat top right;
    animation: showText var(--duration) steps(var(--steps)) forwards;
}

/* 光标闪烁动画 */
@keyframes blink {
    0% {
        background-color: rgb(255, 255, 255);
    }

    50% {
        background-color: transparent;
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

/* 光标移动动画 */
@keyframes moveCursor {
    0% {
        left: 4%;
    }

    100% {
        left: 96%;
    }
}

/* 背景移动动画 */
@keyframes showText {
    0% {
        background-size: 100% 100%;
    }

    100% {
        background-size: 5% 100%;
    }
}